.h2 {
  color: #d3a43c; // TODO: figure out how to share sass vars accross anguar components
}

.mmms-band-card { //TODO: move to bootstrap 4 style cards
  height: 400px;

  .mmms-band-card-title {
    font-size: 24px;
    height: 80px;
    text-align: center;
  }
}