<section id="lineup" class="mmms-section" [@flyInOut]>
    <div class="row">
        <div class="col-md-3 mmms-section-content">
            <h2>Lineup</h2>
            <h3>2 Nights of Mason Porter</h3>
            <p>Plus many, many more...</p>
            <!-- <p>Scroll down for performance schedule.</p> -->
            <a id="mmms-this-year-link" (click)="filterLineupsByYear('2019')" [routerLink]="['/lineups', '']">View 2019 Lineup</a>
            <h4>View Past Lineups</h4>
            <span *ngFor="let lineup of lineups">
                <a *ngIf="lineup.year != '2019'" (click)="filterLineupsByYear(lineup.year)" [routerLink]="['/lineups', lineup.year]">{{lineup.year}}</a>
            </span>
        </div>
        <div *ngIf="lineupYear == '2019'" class="col-md-9 mmms-section-image">
          <h2>{{lineupYear}}</h2>
        </div>
        <div class="col-md-9">
            <h2 *ngIf="lineupYear != '2019'">{{lineupYear}}</h2>
            <div class="row">
              <div class="col-xs-6 col-sm-4" *ngFor="let thisLineup of lineup">
                <div class="mmms-band-card">
                  <div class="mmms-band-card-title">{{thisLineup['bandName']}}</div>

                  <img width="100%" *ngIf="thisLineup['bandImage']" src="/assets/img/bands/{{lineupYear}}/{{thisLineup['bandImage']}}">
                  </div>
              </div>
            </div>
        </div>
        <a name="schedule"> </a>
        <!-- <div class="col-md-9">
            <div class="container">
            <h2>2017 Music Schedule</h2>
            <h3>Friday</h3>
            <table class="table">
              <thead>
                <tr>
                  <th>Band</th>
                  <th>Start Time</th>
                </tr>
              </thead>
              <tbody>
                <tr><td>Main Stage area opens</td><td>3:00</td></tr>
                <tr><td>Social Hour - DJ Set - Lisa Schaffer and Jeff White</td><td>	4:00</td></tr>
                <tr><td>MC Intro</td><td>	5:20</td></tr>
                <tr><td>Joe Hillman and Friends</td><td>	5:30</td></tr>
                <tr><td>J.P. Biondo and Chris Kearney</td><td>	6:30</td></tr>
                <tr><td>Good Vibes Inc.</td><td>	7:30</td></tr>
                <tr><td>Whiskeyhickon Boys</td><td>	8:30</td></tr>
                <tr><td>Mason Porter</td><td>	9:30</td></tr>
              </tbody>
            </table>
            <h3>Saturday</h3>
            <table class="table">
              <thead>
                <tr>
                  <th>Band</th>
                  <th>Start Time</th>
                </tr>
              </thead>
              <tbody>
                <tr><td>Main Stage area opens</td><td>11:00</td></tr>
                <tr><td>Miz and Mikey B.</td><td>12:00</td></tr>
                <tr><td>Jersey Corn Pickers</td><td>	1:00</td></tr>
                <tr><td>Beacoup Blue</td><td>	2:00</td></tr>
                <tr><td>Black Horse Motel</td><td>	3:00</td></tr>
                <tr><td>No Good Sister</td><td>	4:15</td></tr>
                <tr><td>Alex's Raffle / Chili Awards</td><td>	5:00</td></tr>
                <tr><td>Nik Greeley and the Operators</td><td>	5:20</td></tr>
                <tr><td>Texas Rose Band</td><td>	6:30</td></tr>
                <tr><td>Chris Grunwald and the Slow Response</td><td>	7:30</td></tr>
                <tr><td>Tom Hamilton and Raina Mullen</td><td>	8:30</td></tr>
                <tr><td>Mason Porter</td><td>	9:30</td></tr>
              </tbody>
            </table>
          </div>
      </div> -->
    </div>
    <br/><br/><br/><br/><br/><br/><br/><br/>
</section>