<!-- FAQ Section -->
<section id="faq" class="content-section mmms-section" [@flyInOut]>
    <div class="row">
        <div class="col-md-5 mmms-section-content">
            <div>
                <h2>FAQ</h2>
                <h4>What is the address of the festival?</h4>
                <ul>
                    <li><address>114 WT Family Blvd, Blakeslee Pa, 18610</address></li>
                </ul>

                <h4>Camping at Peaceful Woodlands</h4>
                <ul>
                    <li>Peaceful Woodlands is a beautiful wooded campground. Each site is private and includes: a fire-ring, picnic table, electric and water. Rustic sites (no electric and water) will be used when all sites are sold out.</li>
                    <li>Camping includes use of the shower facilities.</li>
                    <li>The sites vary in size and are clearly defined. Because the campground is laid out this way, we must place people by party size and camping needs appropriately to maximize the use of the space.</li>
                </ul>
                <h4>I bought a ticket, do I need to make a campsite reservation?</h4>
                <ul>
                    <li>No, a site will automatically be assigned to you. The campground may contact you if they need any more information on you or your party.</li>
                    <li> If you wish to make a special request, you can call
                        <a href="tel:570-646-9255">570-646-9255</a> or email <a href="mailto:camping@peacefulwoodlands.com">camping@peacefulwoodlands.com</a> the campground with your site request. The campground will do their best to help you with your
                        request.
                    </li>
                    <li>Note: larger sites will be reserved for larger parties.</li>
                    <li>No reservations will be taken without a ticket purchase.</li>
                </ul>
                <h4>I want to camp with my friends.</h4>
                <ul>
                    <li>Please indicate in your ticket purchase whom you prefer to camp with. The campground may contact you if they need any more information on you or your party.</li>
                </ul>
                <h4>Is electric and water available?</h4>
                <ul>
                    <li>Most sites have electric and water, but some do not. Sites are distributed on a first-come/first-serve basis. If you absolutly need this please call the campground and they will do their best to help you. </li>
                </ul>
                <h4>I have a camper.</h4>
                <ul>
                    <li>Please note this in your ticket purchase, so the campground can assign you the proper campsite. Please call the campground if you have any concerns. </li>
                </ul>
                <h4>What is the check in procedure?</h4>
                <ul>
                    <li>If you have purchased a ticket, check in will occur at the entrance gate.</li>
                    <li>If you have not purchased a ticket, proceed to the Camp Store for tickets and check in.</li>
                </ul>
                <h4>What time can we arrive?</h4>
                <ul>
                    <li>Gates open to ticket holders 11am Friday. Ticket holders must be out by 5pm Sunday. </li>
                    <li>Additional nights of camping may be purchased from the campground. Please call the campground to make arrangements.</li>
                </ul>
                <h4>What should we bring?</h4>
                <ul>
                    <li>Weather tends to be cool at night, bring warm and cool clothes including hoodies and blankets</li>
                    <li>Chairs, flashlights, rain gear (just in case), hearty shoes for rocky grounds, towels for showers, instrument for late night jams</li>
                </ul>
                <h4>What am I not permitted to bring?</h4>
                <ul>
                    <li>Do not bring: firearms, fireworks, illegal drugs, glass bottles </li>
                </ul>
                <h4>What time does the music start/end?</h4>
                <ul>
                    <li>The main stage will go from approximately 5pm-11pm on Friday and 12pm-11pm on Saturday. Late night (after 11pm) acoustic music will be happening too. </li>
                </ul>
                <h4>Will any food be available for sale on the grounds?</h4>
                <ul>
                    <li>Food vendors will be available on site.</li>
                </ul>
                <h4>Will any alcohol be available for sale on the grounds?</h4>
                <ul>
                    <li>No. </li>
                </ul>
                <h4>Is the event rain or shine?</h4>
                <ul>
                    <li>Yes</li>
                </ul>
                <h4>Are tickets refundable?</h4>
                <ul>
                    <li>No. All sales are final.</li>
                </ul>
                <h4>When will you post the schedule? </h4>
                <ul>
                    <li>The schedule will be posted in advance of the festival.</li>
                </ul>
                <h4>Should I take off work Friday?</h4>
                <ul>
                    <li>Definitely</li>
                </ul>
                <h4>How can I find out about being a vendor?</h4>
                <ul>
                    <li>Please email: camping@peacefulwoodlands.com</li>
                </ul>
                <h4>How can I find out about being a sponsor?</h4>
                <ul>
                    <li>Please email: masonporter@gmail.com</li>
                </ul>
                <h4>How can I find out about being a volunteer?</h4>
                <ul>
                    <li>Please email: masonporter@gmail.com</li>
                </ul>
                <h4>Can I bring my dog?</h4>
                <ul>
                    <li>Well behaved dogs are permitted</li>
                    <li>All dogs must be supervised, on a leash and cleaned up after.</li>
                </ul>
            </div>
        </div>
        <div class="col-md-7 mmms-section-image">
            <img src="assets/img/art.jpg" width="100%">
        </div>
    </div>
</section>