<footer class="mmms-footer">
    <button id="mmms-footer-get-tickets" class="btn" [routerLink]="[ '/tickets']">Get Tickets</button>
    <span class="mmms-copy">&copy; 2017-2018 Midnight Mountain, LLC</span>
    <div>
        <button id="mmms-footer-toggle" type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">&#9776;</button>
    </div>
    <div class="hide-me">
        <div class="collapse navbar-collapse navbar-right navbar-fixed-bottom navbar-main-collapse mmms-navbar">
            <ul class="nav navbar-nav ">
                <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                <li class="hidden ">
                    <a href="#page-top "></a>
                </li>
                <li>
                    <a data-footer-link class="mmms-footer-link" [routerLink]="['/lineups', '2019']">Lineup</a>
                </li>
                <li>
                    <a data-footer-link class="mmms-footer-link" [routerLink]="['/tickets']">Tickets</a>
                </li>
                <li>
                    <a data-footer-link class="mmms-footer-link" [routerLink]="['/about']">About</a>
                </li>
                <li>
                    <a data-footer-link class="mmms-footer-link" [routerLink]="['/faq']">FAQ</a>
                </li>
                <li>
                    <a data-footer-link class="mmms-footer-link" [routerLink]="['/cookoff']">Cook-Off</a>
                </li>
                <li>
                    <a data-footer-link class="mmms-footer-link" [routerLink]="['/contact']">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</footer>