<section id="about" class="mmms-section" [@flyInOut]>
    <div class="row">
        <div class="col-md-5 mmms-section-content">
            <h2>About</h2>
            <p class="intro-text">Established in 2015, Midnight Mountain Music Show is a music festival presented by the Philadelphia band Mason Porter. Taking the name from one of their songs, the festival will host a variety of American Roots acts from rock to folk, country,
                bluegrass and everything in between. Additionally, the festival hosts a chili cook-off, kids' activities, vendors and more. The 2019 festival will take place at Peaceful Woodlands Family Campground in Blakeslee, PA on September 13th
                and 14th. Tickets can be purchased with or without camping. </p>
            <h3>Peaceful Woodlands Family Campground</h3>
            <p>Located in the heart of the Pocono Mountains (close to the Pocono Raceway) <a href="http://www.peacefulwoodlands.com/" target="_blank">Peaceful Woodlands</a> is a family owned and operated campground. Much of the natural design of the land
                has been retained which makes for a beautifully wooded campground with most sites surrounded by a small grove of trees. 50 acres of beauty, the campground sits at the base of the Dixon Miller Recreation Area (Elevation 2212ft) which is
                one of the highest accessible points overlooking the Pocono Plateau. The campground is less than 2 hours from Philadelphia. </p>
            <h3>Our Hosts: Nick, Denise and Nikki DePaul</h3>
            <p> We first met Nick and Denise DePaul in 2008 at the Tin Angel in Philadelphia. Local super-fan Billy Brock brought them out to see our show and the rest is history. They quickly became huge supporters of Mason Porter and the local music community.
                Soon after, they started the <em>After The Day Is Done</em> concert series (also named after one of our songs) which has hosted many memorable concerts featuring the best of Philly music as well as nationally touring acts. In 2013 they
                made a lifelong dream come true when they purchased the campground. They helped us make one of our dreams come true in 2015, by working with us to put on the first Midnight Mountain Music Show festival. - <em>Mason Porter</em></p>
        </div>
        <div class="col-md-7 mmms-section-image">
            <img src="assets/img/pw-team.jpg" width="100%">
        </div>
    </div>
</section>