<!-- Tickets Section -->
<section id="tickets" class="content-section mmms-section" [@flyInOut]>
    <div class="tickets-section  mmms-section-content">
        <div class="container">
            <div>
                <h2>{{pageTitle}}</h2>
                <h3>Tickets on sale soon!</h3>
                 <!-- <table id="price-table" class="table">
                    <tr class="price-headings">
                        <td><a id="mmms-tickets-link" target="_blank" class="btn" href="https://mmms18.brownpapertickets.com/">Purchase Tickets</a></td>
                        <td>Buy by July 7th</td>
                        <td>Buy by August 11th</td>
                        <td>After August 11th</td>
                    </tr>
                    <tr class="price-header">
                        <td>Camping</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="price-weekend">
                        <td>Weekend camping 4 pack! ^</td>
                        <td>$210 </td>
                        <td>$250</td>
                        <td>$275 (Only walk-in sites available.)</td>
                    </tr>
                    <tr class="price-weekend">
                        <td>Full weekend with reserved camping * </td>
                        <td>$65 </td>
                        <td>$75 </td>
                        <td>Sold Out</td>
                    </tr>
                    <tr class="price-weekend">
                        <td>Reserved add-on * </td>
                        <td>$65 </td>
                        <td>$75 </td>
                        <td>$85 (Not available online, please call 570-646-9255)</td>
                    </tr>
                    <tr class="price-weekend">
                        <td><strong>Full weekend with rustic camping *</strong></td>
                        <td><strong>$55</strong></td>
                        <td><strong>$65</strong></td>
                        <td><strong>$75</strong></td>
                    </tr>
                    <tr class="price-weekend">
                        <td>Saturday only camping (rustic only) ^^</td>
                        <td>$35</td>
                        <td>$40</td>
                        <td>$45</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="price-header">
                        <td>No Camping</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="price-weekend">
                        <td>Full weekend/no camping </td>
                        <td>$30 </td>
                        <td>$30 </td>
                        <td>$30 </td>
                    </tr>
                    <tr class="price-day">
                        <td>Friday only/no camping</td>
                        <td>$15 </td>
                        <td>$15 </td>
                        <td>$15 </td>
                    </tr>
                    <tr class="price-day">
                        <td>Saturday only/no camping</td>
                        <td>$15 </td>
                        <td>$15 </td>
                        <td>$15 </td>
                    </tr>

                </table> -->

                <!-- <p>* Reserved Camping details: Includes campsite w/ water and electric, parking at site. Minimum purchase two tickets.</p>
                <p>** Weekend Reserved - Add On To Reserved Site (subject to approval by campground). Get this options if you are camping with some friends who already have a reserved site. </p>
                <p>*** Rustic Camping details: You park your car in lot and walk your stuff to the walk-in camping area. No water or electric. Festival style camping. No fires allowed here.</p>
                <p>^ Festival 4-Pack details: includes 4 weekend passes and a campsite. Note: once reserved camping sells out, this option will be for rustic camping only.</p>
                <p>^^ Saturday only camping - Rustic camping only </p>
                <hr>
                <p>Rain or shine.<br/> All non-camping and day pass holders must leave the campground immediatly following the main stage music.<br> All sales are final.<br/> You must be 18 or older or accompanied by an adult.<br/> Children 12 and under
                    are free.
                </p> -->

                <!-- <p><a id="mmms-tickets-link" target="_blank" class="btn" href="https://mmms18.brownpapertickets.com/">Purchase Tickets</a></p>  -->
            </div>
        </div>
    </div>
</section>