<section id="contact" class="mmms-section" [@flyInOut]>
    <div class="row">
        <div class="col-md-5">
            <h2>Contact</h2>
            <p>The campground address has recently changed and is not yet updated in some GPS systems. If your GPS doesn't like the campground address, try these coordinates: 41.029336,-75.498479</p>
            <p>Phone:<a href="tel:570-646-9255">570-646-9255</a></p>
            <h2>Directions</h2>
            <p><a href="http://www.peacefulwoodlands.com/directions.html" target="_blank">Click here for the campgrounds directions page.</a></p>
            <p>Note: I-476 N Exit 87 is EZPASS ONLY</p>

            <p>Got questions? Send us an email.... </p>
            <p>Mason Porter: <a href="mailto:masonporter@gmail.com">masonporter@gmail.com</a>
            <p>Campground: <a href="mailto:camping@peacefulwoodlands.com">camping@peacefulwoodlands.com</a></p>
        </div>
        <div class="col-md-7 mmms-section-image">
            <img src="assets/img/main-stage.jpg" width="100%">
        </div>
    </div>
</section>