<header id="mmms-header" class="nav navbar-default navbar-fixed-top ">
    <a class="navbar-brand page-scroll" [routerLink]="['']">
        Midnight Mountain Music Show
        <img src="../assets/img/logo.svg" width="155" height="92" alt="MMMS" />
    </a>
    <nav class="mmms-navbar" role="navigation">
        <div class="navbar-right mmms-navbar-inner">
            <ul class="nav navbar-nav ">
                <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li>
                    <a class=" page-scroll" [routerLink]="[ '/about']">About</a>
                </li>
                <li>
                    <a class="page-scroll" [routerLink]="[ '/lineups','2019']">Lineup</a>
                </li>
                <li>
                    <a class="page-scroll" [routerLink]="[ '/tickets']">Tickets</a>
                </li>
                <li>
                    <a class="page-scroll" href="#" [routerLink]="[ '/faq']">FAQ</a>
                </li>
                <li>
                    <a class="page-scroll" [routerLink]="[ '/cookoff']">Cook-Off</a>
                </li>
                <li>
                    <a class="page-scroll" [routerLink]="[ '/contact']">Contact</a>
                </li>
            </ul>
        </div>
    </nav>
</header>