$mmms-primary: #4c4624;
$mmms-secondary: #d3a43c;
$mmms-white: #fffbf8;
$mmms-accent-1: #b1a985;
$mmms-accent-2: #89803f;
$mmms-accent-3: #f2e6d6;
body {
    background: url(/assets/img/bg.jpg) no-repeat;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: $mmms-accent-3;
    color: $mmms-primary;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    overflow-x: hidden;
}

h2 {
    color: $mmms-accent-2;
    font-size: 36px;
    text-transform: uppercase;
}

h3 {
    color: $mmms-secondary;
    font-size: 26px;
}

h4 {
    color: $mmms-accent-2;
    font-size: 18px;
    padding: 20px 0 0;
}

p strong {
    color: $mmms-secondary;
    font-size: 26px;
}

ol,
ul {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Lato', sans-serif;
}

.price-header {
    font-weight: bold;
}

.price-headings {
    font-style: italic;
}

#mmms-header {
    align-items: center;
    background-color: $mmms-primary;
    display: flex;
    flex-wrap: wrap;
    height: 120px;
    justify-content: center;
    padding: 20px;
    .mmms-navbar {
        display: none;
    }
}

#mmms-tickets-link {
    background-color: $mmms-primary;
    color: $mmms-secondary;
    font-weight: bold;
    text-decoration: unset;
    font-style: normal;
    &:hover {
        color: $mmms-white;
    }
}

.navbar-default {
    background-color: $mmms-primary;
}

.mmms-navbar {
    padding-top: 20px;
}

.navbar-brand {
    display: block;
    height: 92px;
    padding: 0;
    text-indent: -99999px;
    width: 155px;
    img {
        display: block;
        position: relative;
        top: -20px;
    }
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus {
    background-color: transparent;
    color: $mmms-accent-2;
    font-weight: bold;
    text-transform: uppercase;
}

.navbar-default .navbar-nav>li>a {
    color: $mmms-secondary;
    font-weight: bold;
    padding: 0 20px;
    text-transform: uppercase;
    &:hover {
        color: lighten($mmms-secondary, 30%);
        transition: color 0.8s ease;
    }
}

.navbar-default .navbar-nav>li>a:focus {
    color: lighten($mmms-secondary, 50%);
}

.navbar-fixed-top {
    padding: 30px 0;
    transition: all 0.5s;
}

section {
    padding-bottom: 60px;
}

.mmms-section {
    margin-top: 100px;
    padding: 20px;
}

.mmms-section-content {
    padding-bottom: 20px;
}

#home {
    display: flex;
    align-items: center;
    position: relative;
    top: 120px;
    justify-content: center;
    img {
        width: 100%;
        flex-basis: auto;
    }
}

.mmms-footer {
    align-items: center;
    background-color: $mmms-accent-2;
    bottom: 0;
    color: $mmms-accent-3;
    display: flex;
    height: 60px;
    justify-content: space-between;
    left: 0;
    padding: 10px;
    position: fixed;
    width: 100%;
    .btn {
        background-color: $mmms-primary;
        color: $mmms-secondary;
        font-weight: bold;
    }
    .mmms-copy {
        font-size: 10px;
    }
    .navbar-nav {
        margin: 0;
    }
    .navbar-toggle {
        position: absolute;
        right: 0;
        top: 0;
    }
    .mmms-navbar {
        background-color: $mmms-accent-1;
        margin-bottom: 60px;
        opacity: 0.9;
        padding: 0;
        li a {
            color: $mmms-primary;
            display: block;
            height: 30px;
            padding: 5px;
            text-align: center;
            &:hover {
                background-color: lighten($mmms-accent-1, 10%);
                color: darken($mmms-primary, 5%);
            }
        }
    }
}


/* Extra Small Devices, Phones */

@media only screen and (min-width: 480px) {
    #home {
        top: 120px;
        img {
            // width: 75%;
            width: 100%;
        }
    }
}


/* Small Devices, Tablets */

@media only screen and (min-width: 768px) {
    #home {
        top: 160px;
        img {
            // width: 65%;
            width: 100%;
        }
    }
    #mmms-header {
        height: 160px;
        padding: 20px;
        .mmms-navbar {
            display: block;
            padding-top: 0;
        }
    }
    .mmms-section {
        margin-top: 140px;
    }
    .mmms-footer {
        .hide-me {
            display: none;
        }
        .mmms-copy {
            order: 3;
        }
    }
}


/* Medium Devices, Desktops */

@media only screen and (min-width: 992px) {
    #home {
        top: 160px;
        img {
            // width: 50%;
            width: 70%;
        }
    }
    #mmms-header {
        height: 160px;
        justify-content: space-between;
        padding: 20px;
        .mmms-navbar {
            display: block;
            padding-top: 0;
        }
    }
    .mmms-section {
        padding: 20px 0 20px 20px;
    }
    .mmms-section-content {
        padding-bottom: 100px;
    }
}


/* Large Devices, Wide Screens */

@media only screen and (min-width: 1200px) {
    #home {
        top: 160px;
        img {
            width: 55%;
            // width: 100%;
        }
    }
    .mmms-section {
        padding: 20px 0 0 20px;
    }
}

.mmms-section a {
    color: $mmms-accent-1;
    text-decoration: underline;
    &:hover {
        color: $mmms-primary;
    }
    .mmms-section-content {
        margin-top: 130px;
    }
}