<section id="home" [@flyInOut]>
    <img src="../assets/img/mp_event_cover.jpg" alt="Midnight Mountain Music Show" width="100%" />
    <!-- <div>
         <button id="mmms-footer-get-tickets" class="btn" [routerLink]="[ '/tickets']">Get Tickets</button>
    
          <button id="mmms-footer-get-tickets" class="btn" [routerLink]="[ '/tickets']">Get Tickets</button>
    
           <button id="mmms-footer-get-tickets" class="btn" [routerLink]="[ '/tickets']">Get Tickets</button>
    
    </div> -->

    <!-- <div>September 21st and 22nd, 2018
Peaceful Woodlands Family Campground
Blakeslee, PA</div> -->
</section>
